* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

canvas {
    /*border: 1px solid red;*/
}

.hidden {
    display: none;
}

#asteroid2 {
    rotate: 90deg;
}

#asteroid3 {
    rotate: 180deg;
}

#asteroid4 {
    rotate: 270deg;
}
